const config = {
	dxc: {
		host: 'dxfun.com',
		port: 8000,
		loginPrompt: 'login:',
		call: '' // <- Your Call here!'
	},
	maxcache: 50,
	webport: 8090,
	baseUrl: "/dxcache",
	clublogKey: ""	// clublog-API-Key here. Can be obtained at https://clublog.org/need_api.php
}

module.exports = config
