const config = {
	dxc: {
		host: 'dxfun.com',
		port: 8000,
		loginPrompt: 'login:',
		call: '[ur call]'
	},
	maxcache: 500,
	webport: 8092,
	baseUrl: "/dxcache",
	dxcc_lookup_wavelog_url: "https://[url to ur cloudlog]/index.php/api/lookup",
	dxcc_lookup_wavelog_key: "[valid API Key from Cloudlog]",
}

module.exports = config
